<%- include('partials/header') %>
<%- include('partials/navigation') %>
<h1><%= pageTitle %></h1>
<% items.forEach(item => { %>
  <div>
    <h2><%= item.name %></h2>
    <p><%= item.description %></p>
    <% if (item.note) { %>
  <p class="note"><%= item.note %></p>
<% } %>

  </div>

<% }) %>

<%- include('partials/footer') %>