<%- include("partials/header") %>

<%- include("partials/navigation") %>


<h2>Aquarium Information</h2>

<p>Location: <%= aquarioum.name %></p>

<p>Address: <%= aquarioum.address %></p>

<p>Email: <%= aquarioum.email %></p>

<h2>Modules</h2>

<ul>

<% modules.forEach(module => { %>

    <li><%= module %></li>

<% }) %>

</ul>

<p>
Current Server Time:
<strong><%= new Date().toLocaleString() %></strong>
</p>

<%- include("partials/footer") %>